.img-flex {
    display: flex;
    justify-content: center;

}

.title {
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.img-flex img {
    height: auto;
    width: 600px;
    margin: 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
    background-color: #2980b9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
}

/* Media query for mobile screens */
@media screen and (max-width: 767px) {
    .home-flex {
        display: flex;
        flex-direction: column;
    }
    .img-flex {
        flex-direction: column;
        align-items: center;
    }
    .img-flex img {
        height: auto;
        width: 350px;
    }
}