@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --dark_grey: #222;
    --white: #FBFEF9;
}


body {
    background-color: var(--background);
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
}
